<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asome.asome_sourcerequire">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Chatting.Etc.MsgReceiver">
            <intent-filter>
                <action android:name="Response" />
            </intent-filter>
        </receiver>

        <activity android:name=".Chatting.Activity.ChatActivity" />
        <activity
            android:name=".Login.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.JoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Project.NewProjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Project.RoleDetailDialogActivity"
           />
        <activity
            android:name=".Login.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoleDetailDialogActivity2" />
        <activity android:name=".ResourceChartActivity" />
        <activity android:name=".Chatting.Activity.MyScheduleActivity" />
        <activity android:name=".Chatting.Activity.TeamScheduleActivity" />
        <activity android:name=".Timeline.TimeLineActivity" />
        <activity android:name=".CalendarActivity"/>
    </application>

</manifest>